html,
body {
  width: 100%;
  height: 100%;
  background: #fafafa;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 400px;
}

.app .books-container h4 {
  margin-top: 20px;
}

.app .books-container > div {
  height: 300px;
  overflow-y: auto;
}

.app .loader {
  padding-top: 10px;
  padding-bottom: 10px;
}

.app .loader span {
  padding-left: 8px;
}